@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(175deg, #d1d1d1db,#aec9d1b2 , #dff8ff);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  background-color: #fff;
  min-height: 350px;
  min-width: 675px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0,0,0,.5);
  border-radius: 7px 7px 120px 7px;
}

.calculator {
  display: flex;
  position: absolute;
  background-color: #fff;

  justify-content: center;
  flex-direction: column;
  min-height: 200px;
  max-width: 550px;
  background: transparent;
}

.form {
  display: flex;
  align-items: center;
}

.form div{
  display: flex;
  margin-right: 60px;
  font-weight: bold;
}

div input {
  max-width: 110px;
  min-height: 30px;
  border: 2px solid rgba(172, 172, 172, 0.644);
  text-indent: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  font-weight: bolder;
  font-size: 20px;
}

.input-day{
  display: flex;
  flex-direction: column;
}

.input-month{
  display: flex;
  flex-direction: column;
}

.input-year{
  display: flex;
  flex-direction: column;
}

#conteiner-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 15px;
  margin-left: 20px;
}

button {
  border-radius: 50%;
  min-width: 50px;
  min-height: 50px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.247);
  background-color: #8829e7;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.247);
}

hr {
  margin-top: 15px;
  color: #000;
  border: 1px solid #000;
}

section span{
  font-size: 50px;
  font-weight: bolder;
}

section span#an{
  margin-left: 25px;
  color: #8829e7;
  font-size: 65px;
}

section span#di{
  margin-left: 25px;
  color: #8829e7;
  font-size: 65px;
}

section span#me{
  margin-left: 25px;
  color: #8829e7;
  font-size: 65px;
}

@media only screen and (max-width: 768px) {
  main{
    min-height: 550px;
    min-width: 325px;
  }

  .calculator {  
    justify-content: center;
    flex-direction: column;
    min-height: 200px;
    max-width: 300px;
    background: transparent;
  }

  .form div{
    display: flex;
    margin-right: 10px;
    font-weight: bold;
  }
  
  div label {
    font-size: 12px;
    text-align: center;
  }

  div input {
    max-width: 60px;
    min-height: 30px;
    border: 2px solid rgba(172, 172, 172, 0.644);
    text-indent: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    font-weight: bolder;
    font-size: 14px;
    border-radius: 10px;
  }

  hr {
    margin: 30px 0;
  }
}